<ion-menu contentId="main-content" side="start">
<ion-header>
  <ion-toolbar>
    <ion-title>BlinkMatch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class="top">
  <ion-item routerLink="/home">
    <ion-label>Inicio</ion-label>
  </ion-item>
  <ion-item routerLink="/acerca-de">
    <ion-label>Acerca de</ion-label>
  </ion-item>
</ion-list>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content color="medium" class="ion-padding">




fffffffffffff


  </ion-content>



  <ion-footer>
    <ion-toolbar>
      <ion-title> Footer </ion-title>
    </ion-toolbar>
  </ion-footer>

</div>



<ion-content class="ion-padding">
  <!-- Mostrar patrón central -->
  <div class="pattern-display">
    <ion-text color="primary" class="display-pattern">
      {{ patterns[correctPatternIndex] }}
    </ion-text>
  </div>

  <!-- Mensaje si el usuario acertó o falló -->
  <div *ngIf="levelPassed !== null">
    <ion-text [color]="levelPassed ? 'success' : 'danger'" class="level-message">
      {{ levelPassed ? '¡Correcto! 🎉' : 'Patrón incorrecto. Intenta de nuevo.' }}
    </ion-text>
  </div>

  <!-- Cuadrícula con las opciones -->
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let pattern of gridPatterns; let i = index">
        <ion-button
          expand="block"
          (click)="selectPattern(pattern)">
          {{ pattern }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
